.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 40px;
  background-color: azure;
  padding-left: 5px;
  font-family: "Sansita Swashed", cursive;
  font-weight: bold;
}

.form-button {
  font-family: "Sansita Swashed", cursive;
  background-color: azure;
  margin-left: 5%;
  font-weight: bold;
}

.container p {
  font-family: "Sansita Swashed", cursive;
  padding: 20px;
}

.nameBox {
  height: 300px;
  color: azure;
  font-weight: bold;
  font-size: large;
  width: 50%;
  margin-top: 40px;
  padding: 10px;
}

.ingredientBox {
  height: 300px;
  color: azure;
  font-weight: bold;
  font-size: large;
  width: 50%;
}

.search-child {
  margin-top: 12px;
  margin-bottom: 0px;
  padding: 3% 7%;
  color: white;
  display: flex;
  flex-direction: column;
}

.search-child .desc {
  flex-grow: 2;
}

.search-child button {
  width: 105px;
  margin-left: 0;
  border: none;
}

.search-child button:focus,
.search-child button:hover {
  background-color: rgb(255, 169, 30);
  color: white;
}

.search-form {
  margin: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}

.search-form .search-input {
  width: 50%;
  border-bottom: 1px solid white;
  padding: 10px;
  color: black;
}

.search-form .search-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.desc {
  font-family: "Sansita Swashed", cursive;
}
