.result-header {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}

.results-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 0;
}

.results-card li {
  width: 25%;
  flex: auto;
  margin: 0 20px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  padding: 0;
  background-color: aliceblue;
}

.results-card li .cocktail-desc {
  flex-grow: 2;
  margin-bottom: 25px;
  padding: 15px;
}

.results-card li .cocktail-desc p {
  padding: 0;
  margin-bottom: 3px;
}

.results-card li button {
  width: 130px;
  margin: 15px;
  background-color: whitesmoke;
}

.results-card li button:active,
.results-card li button:hover {
  background-color: rgb(255, 169, 30);
  color: white;
}

.result-img {
  height: 198px;
  width: 198px;
  margin: auto;
  display: block;
}
