.hero-container {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: azure;
}

.hero-container .container {
  padding: 110px 0;
}

.hero-heading {
  font-size: 65px !important;
  font-family: "Sansita Swashed", cursive;
  padding-bottom: 10px;
}

.sub-heading {
  font-family: "Sansita Swashed", cursive;
}

.border-gradient {
  background: linear-gradient(315deg, #f5d020 0%, #f53803 64%);
  height: 5px;
}

@media only screen and (max-width: 376px) {
  .hero-heading {
    font-size: 45px !important;
  }
}

@media only screen and (max-width: 768px) {
  .hero-heading,
  h2 {
    font-size: 45px !important;
    margin-left: 5%;
  }
}
